@import "tailwindcss";

@font-face {
  font-family: ZT Floogn; /* set name */
  src: url(../public/assets/zt_floogn_extra_bold.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Black Italic; /* set name */
  src: url(../public/assets/montserrat_black_italic.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Bold; /* set name */
  src: url(../public/assets/montserrat_bold.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Bold Italic; /* set name */
  src: url(../public/assets/montserrat_bold_italic.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Extra Bold; /* set name */
  src: url(../public/assets/montserrat_extra_bold.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Extra Bold Italic; /* set name */
  src: url(../public/assets/montserrat_extra_bold_italic.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Medium; /* set name */
  src: url(../public/assets/montserrat_medium.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Medium Italic; /* set name */
  src: url(../public/assets/montserrat_medium_italic.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Light; /* set name */
  src: url(../public/assets/montserrat-light.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Light Italic; /* set name */
  src: url(../public/assets/montserrat-light_italic.ttf); /* url of the font */
}
@font-face {
  font-family: Montserrat Regular; /* set name */
  src: url(../public/assets/montserrat-regular.ttf); /* url of the font */
}

:root {
  --primary-purple: #7B549E;
  --secondary-purple: #4F4898;
  --primary-blue: #66CCFF;
  --primary-green: #5BE88D;
  --primary-gray: #999999;
  --secondary-gray: #FEFEFE;
  --third-gray: #FBFBFB;
  --title-purple: ZT Floogn;
  --light-body: Montserrat Light;
  --light-bodyItalic: Montserrat Light Italic;
  --regular-body: Montserrat Regular;
  --bold-body: Montserrat Bold;
  --medium-body: Montserrat Medium;
  --extraBold-body: Montserrat Extra Bold;
}

@theme {
  --color-primary-purple: var(--primary-purple);
  --color-secondary-purple: var(--secondary-purple);
  --color-primary-blue: var(--primary-blue);
  --color-primary-green: var(--primary-green);
  --color-primary-gray: var(--primary-gray);
  --color-secondary-gray: var(--secondary-gray);
  
  --font-family-title: var(--title-purple);
  --font-family-light: var(--light-body);
  --font-family-light-italic: var(--light-bodyItalic);
  --font-family-regular: var(--regular-body);
  --font-family-bold: var(--bold-body);
  --font-family-medium: var(--medium-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.globalBackground{
  background-image: url(../public/assets/background.png);
  background-size: cover;
  background-position: 0 0;
}
.greyText{
  color: var(--primary-gray);
}

.mainTitle{
  font-family: var(--title-purple);
  color: var(--secondary-purple);
  font-size: 45px;
}
.textRegular{
  font-family: var(--regular-body);
}
.textLight {
  font-family: var(--light-body);
}
.textItalic{
  font-family: var(--light-bodyItalic);
}
.ejesCards--Text{
  font-family: var(--light-body);
  color: var(--primary-purple);
}
.botonDiagnostico{
  background-color: var(--secondary-purple);
  font-family: var(--title-purple);
  font-size: 35px;
}
.botonDiagnostico:hover {
  background-color: var(--primary-purple);
}
.botonDiagnosticoLine{
  border: 2px solid var(--primary-purple);
  color: var(--primary-purple);
  border-radius: .75rem;
  font-size: 35px;
}
.botonDiagnosticoLine:hover {
  background-color: var(--primary-purple);
  color: var(--secondary-gray);
}
.subTitle{
  font-family: var(--title-purple);
  font-size: 30px;
}
.boxTitle{
  font-family: var(--title-purple);
  font-size: 35px;
}
.textPurplePrimary{
  color: var(--primary-purple);
}
.textPurple{
  color: var(--secondary-purple);
}
.textGray{
  color: var(--primary-gray);
}
.buttonPurple1{
  background-color: var(--primary-purple);
}
.buttonPurple1:hover {
  background-color: var(--secondary-purple);
}
.buttonPurple2{
  background-color: var(--secondary-purple);
}
.buttonPurple2:hover {
  background-color: var(--primary-purple);
}
.botonPurpleLine{
  border: 2px solid var(--primary-purple);
  border-radius: .75rem;
}
.botonPurpleLine:hover {
  border: 2px solid var(--secondary-purple);
  color: var(--secondary-gray);
  background-color: var(--secondary-purple);
}
.botnCerrarCuestionario:hover{
  color: var(--third-gray);
  background-color: var(--primary-gray);
}
.cardsBackground{
  background-color: var(--secondary-gray);
}
.cardsTitle{
  font-family: var(--title-purple);
  color: var(--primary-gray);
  font-size: 40px;
}
.cuestionariosTitle {
  font-family: var(--extraBold-body);
  color: var(--primary-purple);
  font-size: 22px;
  text-align: center;
}
.cuestionariosDesc{
  font-family: var(--light-bodyItalic);
  color: var(--primary-gray);
  font-size: 14px;
}
.cuestionariosQuestion {
  font-family: var(--bold-body);
  color: var(--primary-purple);
  font-size: 18px;
}
.boxCuestionarios{
  background-color: var(--third-gray);
  border-radius: 5px;
  box-shadow: 5px 10px 21px -8px var(--primary-gray);
}
.placeholder__montserrat{
  font-family: var(--light-body);
}

/*bounce animation*/
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
.bounceButton {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.bounceButton:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
/*bounce animation*/